body {
  /* *SET DIMENSIONS OF POPUP* */
  width: 400px;
  height: 320px;
  margin: 0;
}
.container {
  /* width: 100%; */
  /* height: 100%; */
  margin-top: 0;
}

.header {
  background-color: rgb(238, 238, 238);
  height: 4rem;
}
.nav {
}
.nav ul {
  /* margin-left: -2.3rem; */
  background-color: transparent;
  padding: 0;
  text-align: center;
  margin: 0;
}
.nav li {
  display: inline-block;
  list-style: none;
}
.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  margin: 0 2rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}
.dark-dot {
  background-color: #8d8d8d;
}

.title--container {
  text-align: center;
}

.collections-save-menu {
  /* position: relative; */
  padding: 0rem 0;
}
.save-buttons {
  text-align: center;
}

.btn--save {
  display: table-cell;
  vertical-align: middle;
  margin: 1rem;
  width: 8rem;
  height: 3rem;
  text-align: center;

  border-radius: 1px;
}
.btn--save p {
  text-align: center;
}

.list--preview {
  /* margin-left: -2.3rem; */
  padding: 0;
  text-align: center;
  margin: 0;
  height: 300px;
  overflow-y: auto;
}
.list--preview li {
  background-color: #f5f5f5;
  padding: 1.3rem 0;
  list-style: none;
}
.list--preview li:hover {
  background-color: #e9e9e9;
}
.list--preview-item a {
  pointer-events: none;
  font-size: 1.05rem;
  text-decoration: none;
  color: rgb(36, 36, 36);
}
.list--preview-item a:hover {
  color: blueviolet;
}
.btn--delete {
  margin-left: 1rem;
}

/* .form--confirm-save:hover {
  background-color: rgb(137, 243, 208);
} */

/** EXPERIMENTAL BETWEEN THESE POINTS*/
/******************************/
.form--confirm-save {
  text-align: center;
  display: flex;
  /* padding-top: 0.05rem; */
  padding-top: 0rem;
  /* margin-top: 0rem; */
  /* margin-top: 0.01rem; */
  /* height: 0px; */
  /* width: 100%; */
}
.form--confirm-save input {
  flex: 1;
  text-align: center;
  height: 2rem;
  border-width: 0;
  background-color: transparent;
  /* border-color: rgb(236, 236, 236); */
  outline: none;
  box-shadow: none;
  /* margin-bottom: -0.1rem; */
}

.form--confirm-save input:focus,
.form--confirm-save input:active {
  background-color: #3131314f;
  outline: none;
  /* height: 2rem; */
  box-shadow: none;
  border-width: 0;
  /* margin-bottom: -0.2rem; */
}
.btn--confirm-save {
  background-color: rgb(120, 250, 207);
  border-width: 0.15rem;
  border-color: rgb(120, 250, 207);
  color: #3a3a3a;
  flex: 0.5;
  text-align: center;
  height: 2.1rem;
  /* padding-bottom: 0.13rem; */
  border-style: solid;
  border-width: 0;
  /* margin-top: 0.01rem; */
  /* padding-bottom: 0.3rem; */
}

.btn--confirm-save:hover {
  background-color: rgb(7, 223, 151);
  border-color: rgb(7, 223, 151);
  color: #000000;
}

.btn--confirm-save:focus {
  outline: none;

  border-width: 0.15rem;
  border-color: rgba(1, 43, 30, 0.774);
}
.btn--confirm-save:active {
  outline: none;

  border-width: 0.15rem;
  border-color: rgba(1, 121, 83, 0.774);
}
.form--confirm-save p {
  font-size: 1.05rem;
  font-weight: 400;
  margin: auto;
  /* padding: auto; */
}
/******************************/
/** EXPERIMENTAL BETWEEN THESE POINTS*/

/** FOOTER **/
.footer {
  margin-top: 0;
  height: 4rem;
  background-color: aliceblue;
}
.manage--options {
  /* centered using second answer from:
     https://stackoverflow.com/questions/31735702/need-to-horizontally-and-vertically-center-align-ul-in-div-and-vertically-cente
    */
}
.manage__link {
  text-decoration: none;
  color: blue;
}
.manage__link:hover {
  text-decoration: underline;
  color: chartreuse;
}

/******************/
/** POSITIONING **/
/******************/
.vertical-align {
  position: relative;
  top: 49%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  text-align: center;
}
.vert-element {
  display: block;
}

.inline-element {
  display: inline;
}

/* HIDE! */
.section--hidden {
  /* opacity: 0;
  transform: translateY(8rem); */
  display: none;
  /* height: 0; */
}
