:root {
  --color-aqua-dull: #9fcfc3;

  --color-aqua: #48f1cd;
  --color-aqua-focus: #e6fffc;
  --color-aqua-muted: #f2fffc;
  /* --color-aqua-muted: #6fffdd1a; */
  --color-aqua-dark: #03cea2;
  --color-aqua-dark-1: #00e0b0;
  --color-aqua-dark-2: #13aa89;
  --color-aqua-disabled: #597e748e;

  --color-purps-light: rgb(196, 132, 255);
  --color-purps: blueviolet;

  --color-red--2: rgb(216, 5, 5);
  --color-red-muted: #ffe0e0;

  --color-grey-light--1: #fdfdfd;
  --color-grey-light--2: rgb(248, 247, 247);
  --color-grey-light--3: rgb(231, 231, 231);
  --color-grey-medium: rgb(158, 158, 158);
  --color-grey-dark: #4a484a; /* color of all text  */
}
body {
  /** SET DIMENSIONS OF POPUP on body **/
  height: 320px; /* popovers have a max height of 600px */
  width: 360px;
  padding: 0;
  margin: 0;
  transition: all 0.5s;
  color: var(--color-grey-dark);
}
.container {
  height: 320px; /* popovers have a max height of 600px */
  width: 360px;
  margin-top: 0;
}

.header {
  background-color: var(--color-grey-light--2);
  padding: 1px;
}
.logo--wrap {
  height: 2rem;
  padding: 0.5rem 1rem;
  margin: 0;
  border-bottom: 1px solid var(--color-grey-light--3);
}
.logo--img {
  width: 36px;
}
.logo--title {
  color: var(--color-grey-medium);
  font-size: large;
  font-family: 'Lobster', cursive;
  margin-left: 0.2rem;
}
.nav {
  height: 2rem;
  margin: 0;
  border-bottom: 2px solid var(--color-aqua-dark);
}
.nav-warning {
  border-bottom-color: var(--color-red--2);
}
.nav .tabs {
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  text-align: center;
  margin: 0;
  padding: 0px;
}
.nav__item {
  padding: 0px;
  padding: 8px 0px 8px 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 24px;
  color: rgb(158, 158, 158);
}

/* from honey */
.nav-active {
  color: var(--color-grey-dark);
}
.nav-active::after {
  width: 24px;
  content: '';
  display: block;
  margin: 9px auto;
  border-bottom: 2px solid rgb(0, 0, 0);
}

/* ////////////////////////////////////////// */
/* SECTION 1: Collections Save Menu --START-- */
/* ////////////////////////////////////////// */
.collections-save-menu {
  margin-top: -1px;
  background-color: var(--color-grey-light--1);
  padding: 0;
}
.title--container {
  margin: 0;
  padding: 0.55rem;
  text-align: center;
  background-color: var(--color-aqua-muted);
  border-bottom: 2px solid var(--color-aqua-dark);
}
.title-container-warning {
  background-color: var(--color-red-muted);
  border-bottom: 2px solid var(--color-red--2);
}
.title {
  background-color: transparent;
  margin: 0;
}

.save-buttons {
  padding: 1rem 0;
  text-align: center;
  background-color: transparent;
}
/* could use flex-box */
.btn--save {
  display: table-cell;
  vertical-align: middle;
  margin: 0.35rem 0;
  width: 85%;
  height: 3rem;
  text-align: center;
  border-radius: 5px;

  border: 1px solid var(--color-aqua-dull);
  background-color: transparent;
  color: var(--color-aqua-dark-2);
  font-weight: 600;
}

.btn--save:hover,
.btn--save:active,
.btn--save:focus {
  background-color: var(--color-aqua-muted);
  border-color: var(--color-aqua-dark);
}

.btn--disabled {
  pointer-events: none;
  border: 1px solid var(--color-aqua-disabled);
  color: var(--color-aqua-disabled);
}
/* * These are disabled for now... * */
/* .btn--save-tabs, btn--save-url */
.btn--disabled-perm {
  pointer-events: none;
  border: 1px solid var(--color-aqua-disabled);
  color: var(--color-aqua-disabled);
}
/* ////////////////////////////////////////// */
/* SECTION 1: Collections Save Menu --END-- */
/* ////////////////////////////////////////// */

/* ////////////////////////////////////////// */
/* SECTION 2: List component --START-- */
/* ////////////////////////////////////////// */
.list--preview {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 300px;
  overflow-y: auto;
  background-color: var(--color-grey-light--1);
}
.list--preview li {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* TODO LOOK AT THIS11 */
  justify-content: flex-start;
  background-color: #ffffff;
  border-bottom: 1px solid var(--color-grey-light--3);
  height: 3rem;
  list-style: none;
  position: relative;
}
.list--preview li:hover {
  background-color: var(--color-grey-light--2);
  color: var(--color-purps);
}
.container--info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 115px;
  /* width: 110px; */
  /* width: 240px; */
  height: 100%;
  /* margin-left: 1rem; */
}
.collection-size {
  width: 15px;
  font-size: small;
  margin-left: 0.3rem;
}
.container--favicons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* width: 60px; */
  /* width: 120px; */
  /* height: 100%; */
  margin-left: 0.8rem;
  margin-left: auto;
  border-left: 1px solid var(--color-grey-light--3);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid var(--color-grey-light--3);
}
.favicons {
  width: 13px;
  height: auto;
  margin: 0 0.2rem;
}
.container--name {
  /* margin-left: auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 220px;
  height: 100%;
  margin-left: 1rem;
}
/* note: list--preview-item === list--preview li */
.list--preview-item p {
  margin: 0;
  padding: 0;
  font-size: 1.05rem;
  text-decoration: none;
}

.btn--delete {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-grey-medium);
  background-color: transparent;
  border: none;
  width: 2.5rem;
  height: 3.1rem;
  margin: 0;
  top: 0;
  right: 0rem;
  position: absolute;
}
.btn--delete:hover {
  color: var(--color-red--2);
}
/* ////////////////////////////////////////// */
/* SECTION 2: List component --END-- */
/* ////////////////////////////////////////// */

/* ////////////////////////////////////////// */
/* SECTION 3: Confirm Menu --START-- */
/* ////////////////////////////////////////// */
/******************************/
.form--confirm-save {
  height: 2rem;
  text-align: center;
  display: flex;
  padding-top: 0rem;
  border-top: 1px solid var(--color-aqua-dull);
}
.form--confirm-save input {
  flex: 1;
  text-align: center;
  height: 1.9rem;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border-width: 0px;
  border-right: 1px solid var(--color-brand-1);
}

.form--confirm-save input:focus,
.form--confirm-save input:active {
  background-color: var(--color-aqua-focus);
  outline: none;
  box-shadow: none;
}
.btn--confirm-save {
  background-color: var(--color-aqua);
  border-width: 0.15rem;
  color: var(--color-grey-dark);
  flex: 0.5;
  text-align: center;
  height: 2rem;
  border-width: 0;
}
.btn--confirm-save:hover {
  background-color: var(--color-aqua-dark-1);
}
.btn--confirm-save:focus {
  outline: none;
  border-width: 0.15rem;
  border-color: var(--color-aqua-dark-2);
}
.btn--confirm-save:active {
  outline: none;
  border-width: 0.15rem;
  border-color: var(--color-aqua-dark-2);
}
.form--confirm-save p {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
}
/* ////////////////////////////////////////// */
/* SECTION 3: Confirm Menu --END-- */
/* ////////////////////////////////////////// */

/* ////////////////////////////////////////// */
/* SECTION 4: Footer --START-- */
/* ////////////////////////////////////////// */
.footer {
  margin-top: 0;
  height: 4rem;
  background-color: var(--color-grey-light--2);
  border-top: 1px solid var(--color-aqua-dull);
}
.manage--options {
  /* centered using second answer from:
     https://stackoverflow.com/questions/31735702/need-to-horizontally-and-vertically-center-align-ul-in-div-and-vertically-cente
    */
}
.manage__link {
  text-decoration: none;
  color: var(--color-grey-dark);
}
.manage__link:hover {
  text-decoration: underline;
  color: var(--color-aqua-dark-2);
}
/* ////////////////////////////////////////// */
/* SECTION 4: Footer --END-- */
/* ////////////////////////////////////////// */

/******************/
/** POSITIONING **/
/******************/
.vertical-align {
  position: relative;
  top: 49%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  text-align: center;
}
.vert-element {
  display: block;
}

.inline-element {
  display: inline;
}

/* HIDE! */
.section--hidden {
  /* opacity: 0;
  transform: translateY(8rem); */
  display: none;
  /* height: 0; */
}
.section--collapse-width {
  width: 0;
}
